<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HelperFriend</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <style>
            body {
                background-color: #FEDE5E;
                margin: 0px;
                padding: 0px;
            }
            #a {
                background-color: #ffffff;
                border-radius: 20px;
                margin: auto;
                margin-top: 200px;
                padding: 60px;
                padding-top: 30px;
                padding-bottom: 80px;
            }
            h2 {
                color: #656565;
                text-align: center;
            }
            label {
                color: #656565;
                font-weight: bold;
            }
            label.no {
                font-weight: normal;
            }
            img.logo {
                margin: 0px;
                margin-bottom: 40px;
                width: 250px;
            }
            form {
                margin-bottom: 50px;
            }
            .textbottom {
                text-align: center;
            }
            .explain {
                text-align: right;
            }
            a.link {
                font-weight: bold;
                text-decoration: underline;
                color: #656565;
            }
            span.loginbutton {
                font-weight: bold;
                color: #ffffff;
            }
        </style>
    </head>
    <body>
          <div id="a" class="container mt-5 pt-1 pb-5 pl-5 pr-5" style="width: 500px;">
              <div class="page-header mt-3">
                  <h2>비밀번호 변경</h2>
              </div>
              <hr>
                  <div>
                      <label>아이디 입력</label>
                      <input type="text" class="form-control" placeholder=" 아이디를 입력하세요." name="username" id="username" required>
                      <span style="color:blue;" id="idMsg"></span>
                      <button class="btn btn-secondary btn-sm float-right" id="idBtn">아이디 확인하기</button>
                  </div>
                  <div class="my-3" style="display: none;" id="emailBlock">
                      <label>이메일 입력</label>
                      <input type="text" class="form-control" placeholder="인증가능한 이메일을 입력하세요." id="email" name="email" required>
                      <span style="color:blue;" id="emailMsg"></span>
                      <small>이메일 발송 시간이 조금 걸릴 수 있습니다</small>
                      <button class="btn btn-secondary btn-sm float-right" id="emailBtn">이메일 인증하기</button>
                  </div>
                  <div class="my-4" style="display: none;" id="numberBlock">
                      <label>인증번호 입력</label>
                      <input type="text" class="form-control" placeholder="위의 이메일로 인증번호가 전송되었습니다." name="creditNum" id="creditNum"required>
                      <span style="color:blue;" id="creditMsg"></span>
                      <button class="btn btn-secondary btn-sm float-right" id="creditBtn">인증번호 확인하기</button>
                  </div>
                  <div class="my-3" style="display: none;" id="pwdBlock">
                      <div>
                         <label>비밀번호 입력</label>
                         <input type="password" class="form-control" placeholder=" 비밀번호를 입력하세요." name="password" id="pwd" required>
                      </div>
                      <div class="my-3">
                          <label>비밀번호 재입력</label>
                          <input type="password" class="form-control" placeholder=" 비밀번호를 다시 입력하세요." name="re-password" id="re-pwd" required>
                          <button class="btn btn-secondary btn-sm float-right" id="pwdBtn">변경하기</button>
                      </div>
                  </div>
                  <br>
              <div>
                  <a href="{% url 'login' %}">되돌아가기</a>
              </div>
          </div>
        </div>
          <script>
    $('#idBtn').click(function(){
        username = $("#username").val()

        if(username === ""){
            alert("아이디를 입력하세요.");
            location.reload();
        }
        else{
            $.ajax({
                url : '{% url 'editJson' %}',
                type : 'POST',
                headers: {
                    'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                data : JSON.stringify({ 'username': username }),
                success:function(data){
                    if(data['idMsg'] === '아이디가 존재하지 않습니다.'){
                        alert(data['idMsg']);
                        location.reload();
                    }
                    $('[id="idMsg"]').html(data['idMsg']);
                },
                error: function(){
                    alert('no success!!');
                },
            });
            $('#username').attr('disabled',true);
            $('#emailBlock').css('display','block');
        }
    });

    $('#emailBtn').click(function(){
        email = $("#email").val()
        username = $("#username").val()
        param = {
            'email': email,
            'emailusername': username
        }

        if(email === ""){
            alert("이메일을 입력하세요");
        }
        else{
            $.ajax({
                url : '{% url 'editJson' %}',
                type : 'POST',
                headers: {
                    'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                data : JSON.stringify(param),
                success:function(data){
                    if(data['emailMsg'] === '이메일이 존재하지 않습니다.'){
                        alert(data['emailMsg']);
                        location.reload();
                    }
                    $('[id="emailMsg"]').html(data['emailMsg']);
                },
                error: function(){
                    alert('no success!!');
                },
            });
            $('#email').attr('disabled',true);
            $('#numberBlock').css('display','block');
        }
    });

    /* 인증번호 확인하기 Btn */
    $('#creditBtn').click(function(){
        creditNum = $("#creditNum").val()
        username = $("#username").val()

        param = {
            'creditNum': creditNum,
            'creditusername': username
        }

        if(creditNum === ""){
            alert("인증번호를 입력하세요.");
        }
        else{
            $.ajax({
                url : '{% url 'editJson' %}',
                type : 'POST',
                headers: {
                    'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                data : JSON.stringify(param),
                success:function(data){
                    if(data['creditMsg'] === '인증번호가 다릅니다.'){
                        alert(data['creditMsg']);
                        location.reload();
                    }
                    $('[id="creditMsg"]').html(data['creditMsg']);
                },
                error: function(){
                    alert('no success!!');
                },
            });
            $('#creditNum').attr('disabled',true);
            $('#pwdBlock').css('display','block');
        }
    });

    /* 비밀번호 변경하기 Btn */
    $('#pwdBtn').click(function(){
        pwd = $("#pwd").val();
        re_pwd = $("#re-pwd").val();
        username = $("#username").val()

        param = {
            'pwd': pwd,
            'pwdusername': username
        }

        if(pwd != re_pwd){
                alert("비밀번호가 다릅니다.");
        }
        else{
                $.ajax({
                url : '{% url 'editJson' %}',
                type : 'POST',
                headers: {
                    'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                data : JSON.stringify(param),
                success:function(data){
                    alert("비밀번호가 변경되었습니다.");
                    location.href = "{% url 'login' %}"
                },
                error: function(){
                    alert('no success!!');
                },
            });
        }
    });
        </script>
    </body>
</html>
