{% extends 'basesimple.html' %}

{% block mycss %}
  #a {
    background-color: #000000;
    border-radius: 20px;
  }
  body {
    background-color: #FCFCFC;
  }
  div#con {
    border-radius: 10px;
  }
  div#aa {

  }
{% endblock %}

{% block mycontent %}
    <div id="aa" class="container">
      <div class="row justify-content-md-center">
        <div class="col col-sm-3" style="background-color: #FCFCFC">
          <div class="text-center">
              <img src="/static/img/profile.jpg" alt="프로필" width="220" class="rounded-circle mt-5 mb-1 img-center">
          </div>
          <p class="mt-1 mb-0">박재현</p>
          <p>빅데이터 6차시<p>
            <button class="btn btn-secondary btn-block btn-sm">팀 빌딩 하러가기</button>
        </div>
        <div class="col col-sm-9" style="background-color: #FCFCFC">
          <div class="container my-5">
            <div id="con" class="container p-3 my-3 border bg-white">
              <label>팀 정보</label>
              <hr>
              <p>팀을 생성해주세요.</p>
            </div>
            <div id="con" class="container p-3 my-3 border bg-white">
              <label>질문게시판</label>
              <a href="#" class="mr-3 float-right">더 보기</a>
              <img src="/static/img/plus.svg" class="float-right" style="width: 22px;">
              <br>
              <table class="table">
              <thead>
                <tr>
                  <th style="text-align: center;">제목</th>
                  <th class="mobile" style="width: 80px; text-align: center;">작성자</th>
                  <th class="mobile" style="width: 120px; text-align: center;">댓글</th>
                  <th class="mobile" style="width: 120px; text-align: center;">좋아요</th>
                  <th class="mobile" style="width: 120px; text-align: center;">작성일</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>신규 운영진을 모집합니다.</td>
                  <td class="mobile" style="text-align: center;">운영자</td>
                  <td class="mobile" style="text-align: center;">2</td>
                  <td class="mobile" style="text-align: center;">10</td>
                  <td class="mobile" style="text-align: center;">2022-02-25</td>
                </tr>
                <tr>
                  <td>커뮤니티 웹 사이트에 오신 것을 환영합니다.</td>
                  <td class="mobile" style="text-align: center;">운영자</td>
                  <td class="mobile" style="text-align: center;">2</td>
                  <td class="mobile" style="text-align: center;">10</td>
                  <td class="mobile" style="text-align: center;">2022-02-25</td>
                </tr>
                <tr>
                  <td>커뮤니티 웹 사이트가 개설되었습니다.</td>
                  <td class="mobile" style="text-align: center;">운영자</td>
                  <td class="mobile" style="text-align: center;">2</td>
                  <td class="mobile" style="text-align: center;">10</td>
                  <td class="mobile" style="text-align: center;">2022-02-25</td>
                </tr>
              </tbody>
            </table>
            </div>
            <div id="con" class="container p-3 my-3 border bg-white">
              <label>공모전/대외활동</label>
              <hr>
              <div class="carousel slide" data-ride="carousel">
                <img src="/static/img/3.jpg" width="250" height="400">
                <img src="/static/img/2.jpg" width="250" height="400">
                <img src="/static/img/4.jpg" width="250" height="400">
              </div>
            </div>
          </div>
        </div>
        <footer class="text-center my-5" style="max-width: 1080px;">
          <p>Copyright &copy; 2022 <b>HelperFriend Team</b> All Rights Reserved.</p>
        </footer>
      </div>
    </div>

{% endblock %}

{% block myjs %}

{% endblock %}

