{% extends 'base.html' %}

{% block css %}
body {
    background-color: #FEDE5E;
    margin: 0px;
    padding: 0px;
}
#a {
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    margin-top: 200px;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 80px;
}
h2 {
    color: #656565;
    text-align: center;
}
label {
    color: #656565;
    font-weight: bold;
}
label.no {
    font-weight: normal;
}
img.logo {
    margin: 0px;
    margin-bottom: 40px;
    width: 250px;
}
form {
    margin-bottom: 50px;
}
.textbottom {
    text-align: center;
}
a.link {
    font-weight: bold;
    text-decoration: underline;
    color: #656565;
}
span.loginbutton {
    font-weight: bold;
    color: #ffffff;
}

p {
   color: #656565;
}
{% endblock %}

{% block content %}
   <div id="a" style="width: 600px;">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12">
                    <h2>회원가입</h2>
                </div>
            </div>
            <hr>
        {% if error %}
        <div class="row">
            <div class="col-12 text-center">
                <p style="color: red;">{{error}}</p>
            </div>
        </div>
        {% endif %}
                <form method="POST" action="{% url 'join' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>아이디</label>
                        <input type="text" class="form-control"  placeholder="ex) helper" name="username" required>
                    </div>
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text" class="form-control"  placeholder="ex) 홍길동" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label>이메일</label>
                        <input type="text" class="form-control"  placeholder="ex) helperfriend@naver.com" name="joinemail" id="joinemail" required>
                    </div>
                    <div class="form-group">
                        <label>비밀번호</label>
                        <input type="password" class="form-control" placeholder="비밀번호" name="password" required>
                    </div>
                    <div class="form-group">
                        <label>비밀번호 확인</label>
                        <input type="password" class="form-control" placeholder="비밀번호 확인" name="re-password" required>
                    </div>
                    <div class="form-group">
                        <label>취미</label>
                        <input type="text" class="form-control" placeholder="자신의 취미를 입력하세요" name="habit">
                    </div>
                    <div class="form-group">
                        <label>전공</label>
                        <input type="text" class="form-control" placeholder="자신의 전공을 입력하세요." name="univ">
                    </div>
                    <div class="form-group">
                        <label>목표</label>
                        <input type="text" class="form-control" placeholder="자신의 목표를 입력하세요" name="target">
                    </div>
                    <div class="form-group">
                        <label>MBTI</label>
                        <input type="text" class="form-control" placeholder="자신의 MBTI를 입력하세요" name="mbti">
                    </div>
                    <label for="select">커리큘럼명</label>
                    <select class="form-control" name="course" id="select">
                    </select>
                    <hr>
                    <div class="form-group my-3">
                        <h2 class="text-center">설 문 지</h2>
                                        <p>1. 당신의 전공은 무엇입니까?</p>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="radio" name="major" value="IT" id = "radio1" required>
                                              <label class="form-check-label" for="radio1">IT관련 전공자</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="radio" name="major" value="c-IT" id = "radio2" required>
                                              <label class="form-check-label" for="radio2">공과 대학 및 수학과, 통계학과 학생</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="radio" name="major" value="non-IT" id = "radio3" required>
                                              <label class="form-check-label" for="radio3">비전공자</label>
                                            </div>
                                        </div>
                                            <div class="container" id="box1" style="display:none;">
                                                <div class="form-group">
                                                    <p>1-1 프로젝트 경험 횟수</p>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="project" value="1" id = "radio1-1-1-1">
                                                      <label class="form-check-label" for="radio1-1-1-1">5회 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="project" value="0.5" id = "radio1-1-1-2">
                                                      <label class="form-check-label" for="radio1-1-1-2">3회 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="project" value="0.1" id = "radio1-1-1-3">
                                                      <label class="form-check-label" for="radio1-1-1-3">1회 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="project" value="0" id = "radio1-1-1-4">
                                                      <label class="form-check-label" for="radio1-1-1-4">0회</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <p>1-2 교내 및 교외 수상 횟수</p>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="award" value="3" id = "radio1-1-2-1">
                                                      <label class="form-check-label" for="radio1-1-2-1">3회 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="award" value="1" id = "radio1-1-2-2">
                                                      <label class="form-check-label" for="radio1-1-2-2">1회 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="award" value="0" id = "radio1-1-2-3">
                                                      <label class="form-check-label" for="radio1-1-2-3">0회 이상</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <p>1-3 백준, 프로그래머스, 코드업에서 푼 문제의 총 개수</p>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="problem1" value="3" id = "radio1-1-3-1">
                                                      <label class="form-check-label" for="radio1-1-3-1">300개 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="problem1" value="1" id = "radio1-1-3-2">
                                                      <label class="form-check-label" for="radio1-1-3-2">150개 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="problem1" value="0.5" id = "radio1-1-3-3">
                                                      <label class="form-check-label" for="radio1-1-3-3">50개 이상</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="problem1" value="0" id = "radio1-1-3-4">
                                                      <label class="form-check-label" for="radio1-1-3-4">50개 미만</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container" id="box2" style="display:none;">
                                                <div class="form-group">
                                                        <p>2-1 코딩 관련 수업을 들은 적이 있습니까?(수업 시간에 잠깐 배운 것도 포함)</p>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="lesson" value="3" id = "radio2-2-1-1">
                                                          <label class="form-check-label" for="radio2-2-1-1">네</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="lesson" value="0" id = "radio2-2-1-2">
                                                          <label class="form-check-label" for="radio2-2-1-2">아니오</label>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <p>2-2 백준, 프로그래머스, 코드업 등의 알고리즘 문제 사이트에서 문제를 푼 경험이 있습니까?</p>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="problem2" value="3" id = "radio2-2-2-1">
                                                          <label class="form-check-label" for="radio2-2-2-1">네</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="problem2" value="0" id = "radio2-2-2-2">
                                                          <label class="form-check-label" for="radio2-2-2-2">아니오</label>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <p>2-3 프로젝트 경험 및 각종 공모전 수상 경험이 있습니까?</p>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="award2" value="3" id = "radio2-2-3-1">
                                                          <label class="form-check-label" for="radio2-2-3-1">네</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="award2" value="0" id = "radio2-2-3-2">
                                                          <label class="form-check-label" for="radio2-2-3-2">아니오</label>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="container" id="box3" style="display:none;">
                                                <div class="form-group">
                                                        <p>3-1 코딩 경험 유무</p>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="exper" value="2" id = "radio3-3-1-1">
                                                          <label class="form-check-label" for="radio3-3-1-1">네</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="exper" value="0" id = "radio3-3-1-2">
                                                          <label class="form-check-label" for="radio3-3-1-2">아니오</label>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                       <p>3-2 프로젝트 경험 횟수</p>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="project2" value="5" id = "radio3-3-2-1">
                                                          <label class="form-check-label" for="radio3-3-2-1">2회 이상</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="project2" value="3" id = "radio3-3-2-2">
                                                          <label class="form-check-label" for="radio3-3-2-2">1회</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="project2" value="0" id = "radio3-3-2-3">
                                                          <label class="form-check-label" for="radio3-3-2-3">0회</label>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                       <p>3-3 공모전 및 교내 수상 경험 횟수</p>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="award3" value="3" id = "radio3-3-3-1">
                                                          <label class="form-check-label" for="radio3-3-3-1">2회 이상</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="award3" value="1" id = "radio3-3-3-2">
                                                          <label class="form-check-label" for="radio3-3-3-2">1회</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="award3" value="0" id = "radio3-3-3-3">
                                                          <label class="form-check-label" for="radio3-3-3-3">0회</label>
                                                        </div>
                                                </div>
                                            </div>
                        <button type="submit" class="btn btn-secondary btn-block btn-lg" style="background-color: #707070" id="completeBtn">
                            <span id="joinBtn">계정 만들기</span>
                        </button>
                    </form>
        </div>
        <p>- '계정 만들기'를 클릭하면 <a data-toggle="modal" data-target=".bd-example-modal-lg" href="#agree">개인정보 처리방침</a>을 확인한 것으로 간주됩니다.</p>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding: 20px;">
                <h2>개인정보 수집 및 이용 동의</h2>
                <br>
                <p>Helperfriend는 아래의 목적으로 개인정보를 수집 및 이용하며, 회원의 개인정보를 안전하게 취급하는데 최선을 다합니다.</p>
                <h5>개인정보 수집 및 이용에 대한 안내</h5>
                <div style="background-color: rgb(250,250,250); border: 1px solid gray;">
                    <ol>
                        <li>목적 : 가입자 개인 식별, 이메일 식별</li>
                        <li>항목 : 이메일주소, 비밀번호, 이름</li>
                        <li>보유기간 : 회원 탈퇴 시까지 보유 (단, 1년간 보관 후 파기합니다.)</li>
                    </ol>
                </div>
                <br>
                <p>위 개인정보 수집에 대한 동의를 거부할 권리가 있으며, 동의 거부 시에는 가입자 등록이 제한될 수 있습니다.</p>
            </div>
          </div>
        </div>
        <div class="textbottom">
            <span>이미 가입하셨다면?</span>&nbsp;
            <a class="link" href="{% url 'login' %}">로그인으로 가기</a>
        </div>
     </div>
{% endblock %}

{% block js %}

$.ajax({
    url : '{% url 'joinJson' %}',
    type : 'GET',
    headers: {
        'X-CSRFTOKEN' : '{{ csrf_token }}'
    },
    data : JSON.stringify(),
    success:function(data){
        context = "";
        for(let i = 0;i < data['course'].length;i++){
            context += "<option>" + data['course'][i] + "</option>"
        }
         $('[id="select"]').html(context);
    },
    error: function(){
        alert('no success!!');
    },
});

$('#radio1').on({
        click: function(){
            /*2-1~2-2 init*/
            $("input:radio[name='lesson']").prop("checked", false);
            $("input:radio[name='problem2']").prop("checked", false);
            $("input:radio[name='award2']").prop("checked", false);

            /*3-1~-3-3문항 init*/
            $("input:radio[name='exper']").prop("checked", false);
            $("input:radio[name='award3']").prop("checked", false);
            $("input:radio[name='project2']").prop("checked", false);

            $('#box2').css('display','none');
            $('#box3').css('display','none');
            $('#box1').css('display','block');
        }
    });

    $('#radio2').on({
        click: function(){
            /*1-1~1-3문항 init*/
            $("input:radio[name='project']").prop("checked", false);
            $("input:radio[name='award']").prop("checked", false);
            $("input:radio[name='problem1']").prop("checked", false);

            /*3-1~-3-3문항 init*/
            $("input:radio[name='exper']").prop("checked", false);
            $("input:radio[name='award3']").prop("checked", false);
            $("input:radio[name='project2']").prop("checked", false);

            $('#box1').css('display','none');
            $('#box3').css('display','none');
            $('#box2').css('display','block');
        }
    });

    $('#radio3').on({
        click: function(){
            /*1-1~1-3문항 init*/
            $("input:radio[name='project']").prop("checked", false);
            $("input:radio[name='award']").prop("checked", false);
            $("input:radio[name='problem1']").prop("checked", false);

            /*2-1~-2-2문항 init*/
            $("input:radio[name='lesson']").prop("checked", false);
            $("input:radio[name='problem2']").prop("checked", false);
            $("input:radio[name='award2']").prop("checked", false);

            $('#box1').css('display','none');
            $('#box2').css('display','none');
            $('#box3').css('display','block');
        }
    });
{% endblock %}






























