{% extends 'basesimple.html' %}

{% block mycss %}
textarea {
    width: 80%;
    height:50px;
    border: none;
    resize: none;
  }
div.reply {
    margin-top: 20px;
    margin-bottom: 30px;
}
form span {
    font-size: 36px;
    font-weight: 500;
}
span.user {
    font-size: 14px;
    font-weight: 400;
}
input {
    border: none;
}
.text {
    margin-bottom: 50px;
}
.replys {
    background-color: #FaFaFa;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
}
.board {
    border-radius: 10px;
    padding: 30px 40px 40px 40px;
    background-color: white;
    border: 1px solid #dddddd;
    margin-top: 20px;
}
{% endblock %}

{% block mycontent %}

<div class="col col-sm-9 my-5">
    <div class="container board">
            <div>
                <span style="font-size: 14px; color: #A4A4A4;">질문게시판</span>
                <form method="POST" class="pt-3" style="max-width: 920px;" action="{% url 'qnaWrite' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <span>{{data.title}}</span>
                        </div>
                        <div>
                            <span class="user">{{data.question_username}}</span>&nbsp;/&nbsp;
                            <span class="user" style="color: #A4A4A4;">{{data.question_time}}</span>
                        </div>
                        <hr>
                        <div class="text">
                            {{data.content}}
                        </div>
                        <a class="btn btn-secondary" href="{% url 'qnaList' %}">돌아가기</a>
                        {% if user.id == data.questionuser_id%}
                            <button class="btn btn-link float-right" onclick="board_delete({{ data.id }})" style="background-color: red; color: white;">삭제</button>
                            <button class="btn btn-secondary float-right mx-2">수정</button>
                        {% endif %}
                </form>
            </div>
        <br>
        <div class="replys">
            <div class="reply">
                <div id="replyReadBox">
                </div>
            </div>
            <div>
                <div class="container">
                    <form method="post" class="form-inline" action="{% url 'qnaReadAndReply' data.pk %}">
                         {% csrf_token %}
                        <textarea class="form-control w-100" rows="5" id="comment" name="replyContent"></textarea>
                        <div class="container" style="margin-top: 10px;">
                            <button type="submit" class="btn btn-secondary btn-lg float-right" style="font-size: 14px;">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block myjs %}

<!-- 댓글 관련 ajax -->
$.ajax({
    url : '{% url 'qnaReplyJson' data.id %}',
    type : 'POST',
    headers: {
        'X-CSRFTOKEN' : '{{ csrf_token }}'
    },
    data : JSON.stringify(),
    success:function(data){
        let context = "";
        for(let i = 0; i < data['username'].length; i++){
            context += '<div class="media text-muted pt-3">'
            context += '<img src="/static/img/2.jpg" width="35" height="35" class="rounded-circle">'
            context += '<p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray mx-3">'
            context += '<strong class="d-block text-gray-dark">' + data['username'][i] + '</strong>'
            context +=  data['content'][i]
            context += '</p>'
            if(data['username'][i] == "{{ user.username }}"){ <!-- 댓글 아이디 == 현재 로그인 아이디 -->
                context += "<img src='/static/img/clear.png' width='25' height='25' class='rounded-circle float-right p-1' onclick='reply_delete(" + data['replyId'][i] + ")'>"
            }
            context += '</div>'
        }
        $('[id="replyReadBox"]').html(context);
    },
    error: function(){
        alert('no success!!');
    },
});

function reply_delete(pk) {
    let result = confirm("댓글을 삭제하겠습니까?");
    if(result)
        location.href = "{% url 'qnaReadAndReply' data.id %}?replypk="+pk;
}

function board_delete(pk){
    let result = confirm("게시물을 삭제하겠습니까?");
    if(result)
        location.href = "{% url 'qnaReadAndReply' data.id %}?boardpk="+pk;

}

{% endblock %}



