{% extends 'basesimple.html' %}

{% block mycss %}
label.upload {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}
{% endblock %}

{% block mycontent %}
   <div class="col col-sm-9 my-5">
    <div class="container con p-3 my-3 border bg-white">
        <label class="mb-o">파일 업로드</label>
        <hr>
        {% if success %}
        <div class="row">
            <div class="col-12 text-center">
                <p style="color: blue;">{{success}}</p>
            </div>
        </div>
        {% endif %}
        <form method="POST" class="my-auto" style="max-width: 720px;" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="upload" for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요." name="title">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file">
                    <label class="custom-file-label" for="inputGroupFile01" ></label>
                </div>
            </div>
            <br>
            <button class="btn btn-secondary" style="background-color: #707070 color: white; float: right;">파일 제출</button>
          </form>
        </div>
    </div>
{% endblock %}

