{% extends 'basesimple.html' %}

{% block mycss %}
table img {
    width: 22px;
}
{% endblock %}

{% block mycontent %}
    <div class="col col-sm-9 my-5">
        <div class="container con p-3 my-3 border bg-white">
            <label class="mb-0">파일 목록</label>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;">제목</th>
                        <th style="text-align: center;">파일명</th>
                        <th style="text-align: center;">제출날짜</th>
                        <th style="text-align: center;">다운로드</th>
                        <th style="text-align: center;">삭제</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr>
                        {% for file in fileList %}
                        {% load index %}
                        <tr>
                            <td style="text-align: center;">{{ file|index:1 }}</td>
                            <td style="text-align: center;">{{ file|index:2 }}</td>
                            <td style="text-align: center;">{{ file|index:3 }}</td>
                            <td style="text-align: center;"><a href="/main/uploadList/uploadDownload/{{ file|index:0 }}"><img src="/static/img/download.svg" alt="다운로드"></a></td>
                            <td style="text-align: center;"><a href="/main/uploadList/uploadDelete/{{ file|index:0 }}"><img src="/static/img/delete.svg" alt="삭제"></a></td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block myjs %}
{% endblock %}
